<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app="mainApp">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Prodigy Academy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="prodigy academy, hsr, bangalore" />
    <meta name="author" content="FREEHTML5.CO" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Monsterrat:400,700|Merriweather:400,300italic,700' rel='stylesheet' type='text/css'>
    <!-- style.css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Magnific Popup-->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!--Form CSS-->
    <link rel="stylesheet" href="css/form.css">
    <!-- Cards -->
    <link rel="stylesheet" href="css/cards.css">

    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body ng-controller="mainCtrl">

    <div id="fh5co-page">
        <nav class="fh5co-nav-style-1" role="navigation" data-offcanvass-position="fh5co-offcanvass-left">
            <div class="container">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 fh5co-logo">
                    <a href="#" class="js-fh5co-mobile-toggle fh5co-nav-toggle"><i></i></a>
                    <a href="#">Prodigy</a>
                </div>
                <div class="col-lg-6 col-md-5 col-sm-5 text-center fh5co-link-wrap">
                    <ul data-offcanvass="yes">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="/#ourCourses" ng-click="scrollToDiv($event)" id="courses">Courses</a></li>
                        <li><a href="/#ourBatches" ng-click="scrollToDiv($event)" id="batches">Batches</a></li>
                        <li><a href="/#ourGallery" ng-click="scrollToDiv($event)" id="gallery">Gallery</a></li>
                        <li><a href="/#contactUs" ng-click="scrollToDiv($event)" id="contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 text-right fh5co-link-wrap">
                    <ul class="fh5co-special" data-offcanvass="yes">
                        <!--LOGIN DROPDOWN-->
                        <li class="dropdown" id="menuLogin">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Login</a>
                            <div class="dropdown-menu" style="padding:17px;">
                                <form class="form" id="formLogin">
                                    <input style="margin-top:10px; margin-bottom:10px; margin-left:10px; margin-right:10px;" name="username" id="username" type="text" placeholder="Username">
                                    <input style="margin-bottom:10px; margin-left:10px; margin-right:10px;" name="password" id="password" type="password" placeholder="Password">
                                    <br>
                                    <button type="button" id="btnLogin" style="margin-right:10px; float:right;" class="btn">Login</button>
                                </form>
                            </div>
                        </li>
                        <!--LOGIN DROPDOWN-->
                        <li><a href="#" id="contact_us_btn" ng-click="scrollToDiv($event)" class="call-to-action">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="fh5co-cover fh5co-cover-style-2 js-full-height" data-stellar-background-ratio="0.5" data-next="yes" style="background-image: url(images/thinkingMan.jpg); background-size:cover; background-repeat: no-repeat;">
            <span class="scroll-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
				<a href="#">
					<span class="mouse"><span></span></span>
            </a>
            </span>
            <div class="fh5co-overlay"></div>
            <div class="fh5co-cover-text">
                <div class="container">
                    <div class="row">
                        <div class="col-md-push-6 col-md-6 full-height js-full-height">
                            <div class="fh5co-cover-intro">
                                <h1 class="cover-text-lead wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Home</h1>
                                <h2 class="cover-text-sublead wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">Some Content About Prodigy Academy.</h2>
                                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s"><a href="/#ourGallery" class="btn btn-primary btn-outline btn-lg" id="goToGallery" ng-click="scrollToDiv($event)">Gallery</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="ourCourses" class="fh5co-project-style-2" style="background-image: url(images/openBook.jpg); background-size:cover; background-repeat: no-repeat;">
            <div class="container">
                <div class="row p-b">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h2 class="fh5co-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Our Courses</h2>
                        <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">Some More content here.</p>
                        <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s"><a href="#" class="btn btn-success btn-lg">Start your Journey</a></p>
                    </div>
                </div>
            </div>
            <div class="fh5co-projects">
                <ul ng-repeat="val in cources">
                    <li class="wow fadeInUp" style="background-image: url(images/full_4.jpg);" data-wow-duration="1s" data-wow-delay="1.4s" data-stellar-background-ratio="0.5">
                        <a href="#">
                            <div class="fh5co-overlay"></div>
                            <div class="container">
                                <div class="fh5co-text">
                                    <div class="fh5co-text-inner">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3>{{val.name}}</h3></div>
                                            <div class="col-md-6">
                                                <p>{{val.about}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="ourBatches" class="fh5co-blog-style-1" style="background-image: url(images/greenboard.png); background-size:cover; background-repeat: no-repeat;">
            <div class="container">
                <div class="row p-b">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h2 class="fh5co-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Our Batches</h2>
                        <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">Content about our batches.... </p>
                    </div>
                </div>
                <div class="row p-b" ng-repeat="val in batches">
                    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12">
                        <div class="fh5co-post wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.1s">
                            <!--
                            <div class="fh5co-post-image">
                                <div class="fh5co-overlay"></div>
                                <div class="fh5co-category"><a href="#">Morning</a></div>
                                <img src="images/img_same_dimension_2.jpg" alt="Image" class="img-responsive">
                            </div>
-->
                            <div class="fh5co-post-text">
                                <h3><a href="#">{{val.name}}</a></h3>
                                <p>{{val.about}}</p>
                            </div>
                            <!--
                            <div class="fh5co-post-meta">
                                <a href="#"><i class="icon-chat"></i> 33</a>
                                <a href="#"><i class="icon-clock2"></i> 2 hours ago</a>
                            </div>
-->
                        </div>
                    </div>
                </div>
                <!--
<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">
        <a href="#" class="btn btn-primary btn-lg">View All Post</a>
    </div>
</div>
-->
            </div>
        </div>
        <!--

        <div class="fh5co-features-style-1" style="background-image: url(images/full_4.jpg);" data-stellar-background-ratio="0.5">
            <div class="fh5co-overlay"></div>
            <div class="container" style="z-index: 3; position: relative;">
                <div class="row p-b">
                    <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                        <h2 class="fh5co-heading">We Help Brands Grow</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="fh5co-features">
                        <div class="fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
                            <div class="icon"><i class="icon-ribbon"></i></div>
                            <h3>Brand Strategy</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                        </div>
                        <div class="fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
                            <div class="icon"><i class="icon-image22"></i></div>
                            <h3>Design + Idenity</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                        </div>
                        <div class="fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
                            <div class="icon"><i class=" icon-monitor"></i></div>
                            <h3>Web Development</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                        </div>

                        <div class="fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.7s">
                            <div class="icon"><i class="icon-video2"></i></div>
                            <h3>Video Direction</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                        </div>
                        <div class="fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">
                            <div class="icon"><i class="icon-bag"></i></div>
                            <h3>E-Commerce Integration</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                        </div>
                        <div class="fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.3s">
                            <div class="icon"><i class="icon-mail2"></i></div>
                            <h3>Email Strategy</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="fh5co-features-style-2">
            <div class="container">
                <div class="row p-b">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h2 class="fh5co-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Why Choose Us</h2>
                        <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
                        <div class="fh5co-icon"><i class="icon-command"></i></div>
                        <div class="fh5co-desc">
                            <h3>100% Free</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
                        <div class="fh5co-icon"><i class="icon-eye22"></i></div>
                        <div class="fh5co-desc">
                            <h3>Retina Ready</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                        </div>
                    </div>
                    <div class="clearfix visible-sm-block visible-xs-block"></div>
                    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.7s">
                        <div class="fh5co-icon"><i class="icon-toggle"></i></div>
                        <div class="fh5co-desc">
                            <h3>Fully Responsive</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">
                        <div class="fh5co-icon"><i class="icon-archive22"></i></div>
                        <div class="fh5co-desc">
                            <h3>Lightweight</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                        </div>
                    </div>
                    <div class="clearfix visible-sm-block visible-xs-block"></div>
                    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.3s">
                        <div class="fh5co-icon"><i class="icon-heart22"></i></div>
                        <div class="fh5co-desc">
                            <h3>Made with Love</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.6s">
                        <div class="fh5co-icon"><i class="icon-umbrella"></i></div>
                        <div class="fh5co-desc">
                            <h3>Eco Friendly</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                        </div>
                    </div>
                    <div class="clearfix visible-sm-block visible-xs-block"></div>
                </div>
            </div>
        </div>

        <div class="fh5co-pricing-style-2">
            <div class="container">
                <div class="row">
                    <div class="row p-b">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h2 class="fh5co-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Pricing Plans</h2>
                            <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="pricing">
                        <div class="pricing-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
                            <h3 class="pricing-title">Basic</h3>
                            <p class="pricing-sentence">Little description here</p>
                            <div class="pricing-price"><span class="pricing-currency">$</span>19<span class="pricing-period">/ month</span></div>
                            <ul class="pricing-feature-list">
                                <li class="pricing-feature">10 presentations/month</li>
                                <li class="pricing-feature">Support at $25/hour</li>
                                <li class="pricing-feature">1 campaign/month</li>
                            </ul>
                            <button class="btn btn-success btn-outline">Choose plan</button>
                        </div>
                        <div class="pricing-item pricing-item--featured wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
                            <h3 class="pricing-title">Standard</h3>
                            <p class="pricing-sentence">Little description here</p>
                            <div class="pricing-price"><span class="pricing-currency">$</span>29<span class="pricing-period">/ month</span></div>
                            <ul class="pricing-feature-list">
                                <li class="pricing-feature">50 presentations/month</li>
                                <li class="pricing-feature">5 hours of free support</li>
                                <li class="pricing-feature">10 campaigns/month</li>
                            </ul>
                            <button class="btn btn-success btn-lg">Choose plan</button>
                        </div>
                        <div class="pricing-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.7s">
                            <h3 class="pricing-title">Enterprise</h3>
                            <p class="pricing-sentence">Little description here</p>
                            <div class="pricing-price"><span class="pricing-currency">$</span>79<span class="pricing-period">/ month</span></div>
                            <ul class="pricing-feature-list">
                                <li class="pricing-feature">Unlimited presentations</li>
                                <li class="pricing-feature">Unlimited support</li>
                                <li class="pricing-feature">Unlimited campaigns</li>
                            </ul>
                            <button class="btn btn-success btn-outline">Choose plan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->

        <!-- Gallery-->
        <div id="ourGallery" class="fh5co-testimonial-style-2">
            <div class="container">
                <div class="row p-b">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h2 class="fh5co-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Gallery</h2>
                    </div>
                </div>
                <div class="row wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
                    <div class="col-sm-12 image-class classroomImage1" ng-mouseout="zoomOutImage($event)" ng-mouseover="zoomImage($event)" id="image1" ng-click="zoomImageClick($event)"></div>
                    <div class="col-sm-12 image-class classroomImage2" ng-mouseout="zoomOutImage($event)" ng-mouseover="zoomImage($event)" id="image2" ng-click="zoomImageClick($event)"></div>
                    <div class="col-sm-12 image-class classroomImage3" ng-mouseout="zoomOutImage($event)" ng-mouseover="zoomImage($event)" id="image3" ng-click="zoomImageClick($event)"></div>
                    <div class="col-sm-12 image-class classroomImage4" ng-mouseout="zoomOutImage($event)" ng-mouseover="zoomImage($event)" id="image4" ng-click="zoomImageClick($event)"></div>
                    <div class="col-sm-12 image-class classroomImage5" ng-mouseout="zoomOutImage($event)" ng-mouseover="zoomImage($event)" id="image5" ng-click="zoomImageClick($event)"></div>
                    <div class="col-sm-12 image-class classroomImage6" ng-mouseout="zoomOutImage($event)" ng-mouseover="zoomImage($event)" id="image6" ng-click="zoomImageClick($event)"></div>
                </div>

            </div>
        </div>
    </div>

    <!-- Gallery-->

    <div id="contactUs" class="fh5co-content-style-6" style="background-image: url(images/blackboard.jpg); background-size:cover; background-repeat: no-repeat;">
        <div class="container">
            <div class="row p-b text-center">
                <div class="col-md-6 col-md-offset-3">
                    <h2 class="wow fadeInUp" style="color:#fff;" data-wow-duration="1s" data-wow-delay=".5s">Contact Us</h2>
                    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div id="hire">
                        <form>
                            <div class="field name-box">
                                <input type="text" id="name" placeholder="Who Are You?" />
                                <label for="name">Name</label>
                            </div>

                            <div class="field email-box">
                                <input type="text" id="email" placeholder="name@email.com" />
                                <label for="email">Email</label>
                            </div>

                            <div class="field msg-box">
                                <textarea id="msg" rows="2" placeholder="Your message goes here..." /></textarea>
                                <label for="msg">Msg</label>
                            </div>

                            <input class="button" type="submit" value="Send" />
                        </form>
                    </div>
                </div>
                <div class="address-col col-md-6 col-md-offset-1" style="color:#fff!important;">
                    <h3 style="color:white;">Address</h3>
                    <hr>
                    <h4 style="color:white;">Sierra Cartel - Sector 7</h4>

                    <h4 style="color:white;">No 343, 9th Main, Sector-7,</h4>

                    <h4 style="color:white;">HSR Layout, Bangalore 560 102</h4>

                    <h4 style="color:white;">( Next to Karnataka ATM )</h4>

                    <h4 style="color:white;">+91 96111 96551</h4>

                    <h4 style="color:white;"> info@sierracartel.com</h4>

                    <h4 style="color:white;">Sierra Cartel - Sector 4</h4>

                    <h4 style="color:white;">No 91 , 17th cross , 14th main, Sector-4,</h4>

                    <h4 style="color:white;">HSR Layout, Bangalore 560 102</h4>

                    <h4 style="color:white;">+91 90350 74443</h4>

                    <h4 style="color:white;">info@sierracartel.com</h4>
                </div>

            </div>
        </div>
    </div>
    <!-- END footer -->

    </div>
    <!-- END page-->
    <!-- Angular -->
    <script src="angular/angular.min.js"></script>

    <script src="js/mainApp.js"></script>
    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="js/jquery.waypoints.min.js"></script>
    <!-- Owl Carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- Stellar -->
    <script src="js/jquery.stellar.min.js"></script>
    <!-- countTo -->
    <script src="js/jquery.countTo.js"></script>
    <!--Form-->
    <script src="js/form.js"></script>
    <!-- WOW -->
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Main -->
    <script src="js/main.js"></script>

</body>

</html>