<span class="scroll-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
				<a href="#">
					<span class="mouse"><span></span></span>
</a>
</span>
<div class="fh5co-overlay"></div>
<div class="fh5co-cover-text">
    <div class="container">
        <div class="row">
            <div class="col-md-push-6 col-md-6 full-height js-full-height">
                <div class="fh5co-cover-intro">
                    <h1 class="cover-text-lead wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Home</h1>
                    <h2 class="cover-text-sublead wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">Some Content About Prodigy Academy.</h2>
                    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s"><a href="#" class="btn btn-primary btn-outline btn-lg">See Our Work</a></p>
                </div>
            </div>
        </div>
    </div>
</div>